body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(wallhaven-57g9e1.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: rgba(0, 0, 0, 0.75);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: white;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

textarea{
    width: 350px;
    height: 400px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    --c: white;
    color: var(--c);
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    resize: none;
}
section p{
    --c: white;
    color: var(--c);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.75);
}

section{
    transition:right 1000ms cubic-bezier(0.175,0.885,0.320,1.275);
}

#textoSalida {
    display: block; /* Oculta el texto hasta que se complete la animación */
}

/* Define la animación */
@keyframes desplazar {
    100% { transform: rotate3d(0,1,0,360deg); }

}


